@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 0.1px solid red; */
}

*::-webkit-scrollbar {
  @apply w-1 h-1;
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary/50 border-2 w-1 border-white rounded-2xl;
}

*::-webkit-scrollbar-track {
  @apply w-2 bg-transparent rounded-2xl;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/60 rounded-2xl;
}

*::-webkit-scrollbar-thumb:active {
  @apply bg-primary rounded-2xl;
}

body::-webkit-scrollbar {
  @apply w-1 bg-transparent;
}

body::-webkit-scrollbar-corner {
  @apply bg-transparent;
}

body::-webkit-scrollbar-track {
  @apply bg-white;
}

body::-webkit-scrollbar-track-piece {
  @apply bg-transparent;
}

body::-webkit-scrollbar-thumb {
  @apply transition-all duration-500 rounded-full bg-black/60 hover:bg-black/40;
}

html {
  scrollbar-color: rgb(0, 0, 0, 0.4) rgb(0, 0, 0, 0);
  scrollbar-width: thin;
}

@layer base {
  html {
    font-family: "Aeonik", sans-serif;
  }
}

@font-face {
  font-family: "Aeonik";
  src: url("../fonts/Aeonik/AeonikTRIAL-Regular.otf") format("opentype");
}

@font-face {
  font-family: "AeonikBold";
  src: url("../fonts/Aeonik/AeonikTRIAL-Bold.otf") format("truetype");
}

@font-face {
  font-family: "Matter";
  src: url("../fonts/matter/Matter-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "MatterSemiBold";
  src: url("../fonts/matter/Matter-SemiBold.ttf") format("truetype");
}
