@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* outline: 1px soid red; */
}

body {
  font-family: 'Aeonik', sans-serif;
}

@font-face {
  font-family: 'Aeonik';
  src: url('../fonts/Aeonik/AeonikTRIAL-Regular.otf') format('opentype');
}

@font-face {
  font-family: AeonikBold;
  src: url('../fonts/Aeonik/AeonikTRIAL-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Matter';
  src: url('../fonts/matter/Matter-Regular.ttf') format('truetype');
}
